{% if paginator.total_pages > 1 %}
<div id="p-footer" class="nowrap">

  <div class="p-up">

  {% if paginator.page > 1 %}
    <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}">1</a>
    <p>...</p>
  {% endif %}
  
  <p class="current">{{ paginator.page }}</p>

  {% if paginator.page < paginator.total_pages %}
    <p>...</p>
    <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ paginator.total_pages }}</a>
  {% endif %}
  </div>
  
  <div class="p-down">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
   {% endif %}

  {% if paginator.next_page %} 
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    {% endif %}
  </div>
    
</div>
{% endif %}
