body
  display: flex
  flex-direction: column
  min-height: 100vh
  margin: 0
  box-sizing: border-box
  -webkit-text-size-adjust: 100%

body > header, body > #upper_footer
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center

body > footer
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: center
  align-items: center
  text-align: center

header a, footer a
  display: inline-block

footer a
  margin: .75em 0

nav
  margin: .5em -1.3em
  a
    margin: 0 1.3em
  svg
    font-size: 1.1em
    vertical-align: sub

main nav
  font-size: 1.1em
  margin: 1.4em 0
  div
    margin: .5em 0

header h1
  font-size: 1.75em
  margin: 0
  body > &
    font-size: 1.35em

article, main
  flex-grow: 1

$Tease: .5s ease;

#bTT
  position: fixed
  right: 33px
  padding: 1.5rem 2rem
  font-size: 18px
  border: none
  border-radius: 33%
  cursor: pointer
  background: light(100, 15)
  color: #fff
  transition: bottom $Tease, opacity $Tease

  &.isHidden
    bottom: -150px
    opacity: 0
    pointer-events: none

  &.isShow
    bottom: 33px
    opacity: 1
    pointer-events: auto

#paginate-middle
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  text-underline-offset: 0.4rem
  text-decoration-color: white

  & p.current
    color: #f9f
    padding: .4em .8em

  & a
    padding: .4em .8em
      
  & a:hover
    background: none
    color: white
    font-weight: bold
    text-decoration: underline
    text-decoration-color: white
