body
  display: flex
  flex-direction: column
  min-height: 100vh
  margin: 0
  box-sizing: border-box
  -webkit-text-size-adjust: 100%

body > header, body > #upper_footer
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center

body > footer
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: center
  align-items: center
  text-align: center

header a, footer a
  display: inline-block

footer a
  margin: .75em 0

nav
  margin: .5em -1.3em
  a
    margin: 0 1.3em
  svg
    font-size: 1.1em
    vertical-align: sub

main nav
  font-size: 1.1em
  margin: 1.4em 0
  div
    margin: .5em 0

header h1
  font-size: 1.75em
  margin: 0
  body > &
    font-size: 1.35em

article, main
  flex-grow: 1

#bTT
  position: fixed
  right: 33px
  padding: 1.5rem 2rem
  font-size: 18px
  border-radius: 33%
  cursor: pointer
  background: light(100, 13)
  color: light-dark(#000, #fff)
  transition: bottom .6s ease, opacity .6s ease

  &.isHidden
    bottom: -150px
    opacity: 0
    pointer-events: none

  &.isShow
    bottom: 33px
    opacity: 1
    pointer-events: auto

#p-footer
  display: flex
  flex-direction: column
  justify-content: space-between
  text-align: center
  text-underline-offset: 0.4rem
  text-decoration-color: #f9f

  & a
    color: light-dark(#000, #fff)

  & a:hover
    background: none
    font-weight: bold
    text-decoration: underline
    text-decoration-color: light-dark(#46f, #38f)

.p-up
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  text-align: center
  & a
    padding: .4em .8em
  & p.current
    color: light-dark(#46f, #38f)
    padding: .4em .8em

.p-down
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

#shelf
  & h2
    padding-left: 1.5rem
  & h3
    padding-left: 3rem
  & div#c_post
    padding-left: 3rem